<div class="img">
    <mat-toolbar class="dataContainer">
        <div class="leftSide">
            <div>
                {{chName}}
            </div>
            <div class="ImgContainer">
                <img [src]="chImage" alt="">
            </div>
        </div>
        <div class="rightSide">
            <h5>Gender: {{chGender}}</h5>
            <h5>Status: {{chStatus}}</h5>
            <h5>Specie: {{chSpecie}}</h5>
            <h5>Location: {{chLocation}}</h5>
            <h5>Origin: {{chOrigin}}</h5>
            <h5>Episodes: {{chEpisode}}</h5>
        </div>
    </mat-toolbar>
</div>