.navbar
    display: flex
    justify-content: space-between
    align-items: center
.navLinks
    display: flex
    align-items: center
    span
        margin: 5px 10px
    a
        text-decoration: none
        color: white
        margin: 5px 10px
