.img
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/013/464/345/large/aodhan-mc-nicholl-rick-morty-style-background-001-copy.jpg?1539713189')
    background-attachment: fixed
    background-size: cover
    background-position-x: right
    height: 400px
.searchContainer
    position: relative
    display: flex
    justify-content: center
    width: 100%
    .inputGroup
        width: 90vw
        max-width: 650px
        margin-top: 180px
        justify-content: space-between
        padding: 10px
        color: white
        border-radius: 40px
        input
            width: 92%
            margin: 0px 10px
            border: none
            outline: none
            background: none
            color: white
            font-size: 20px
        span
            i
                font-size: 18px
                margin: 5px 10px
.main
    height: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    padding: 10px 7px
    .example-card
        width: 20vw
        min-width: 270px
        margin: 3px
.cardImg
    width: 220px
